h1 Users

a(href="/users/create") Add new User
br
br

//create form
form(action="/users/search", method="GET") 
    //display name in query string, example q=linh
    input(type=text, name="q") 
    button search

// display ul li with nam in users
.container
    .row
        ul.col-md-12
            //val display index
            each user in users
                li 
                    span= user.name
                    span &nbsp;
                    a(href="/users/"+ user.id) View

